{{#each posts as |post|}}
<div class="card mb-3">
    <header class="card-header has-background-black">
        <p class="card-header-title has-text-white">
            {{post.title}}
        </p>
        <p class="has-text-success pr-3 pt-3">
            From: {{post.user.username}}
        </p>
    </header>
    <div class="card-content has-background-dark has-text-white">
        <div class="content">
            {{post.body}}
        </div>
        <button class="button has-text-info has-background-black is-black is-outlined">
            <a href="/post/{{post.id}}">View Comments</a>
        </button>
    </div>
</div>
{{/each}}