<div class="container">
  <div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
      <form action="" class="box has-background-dark has-text-white">
        {{> email}}
        {{> password}}
        <div class="field">
            <a><button class="button is-success">
                Login
            </button></a>
        </div>
      </form>
      <div class="is-flex is-justify-content-center">
        <a href="/sign_up/" class=""><button class="button is-success">
          Sign Up Instead
        </button></a>
      </div>
    </div>
  </div>
</div>