<div class="container is-half is-transparent">
    <div class="card mb-3 is-transparent">
        <header class="card-header has-background-black">
            <p class="card-header-title has-text-link-light">
                {{post.title}}
            </p>
            <p class="has-text-link-light pr-3 pt-3">
                From: {{post.user.user_name}}
            </p>
        </header>
        <div class="card-content has-background-dark has-text-light">
            <div class="content">
                {{post.body}}
            </div>
        </div>
        <h3 class="mt-5 mx-2 mb-1 box box-padding py-1 has-text-light has-background-link has-text-centered">Comments: </h3>
        <div class="py-2 is-transparent">
            {{#if post.comments}}
                {{> comments}}
            {{else}}
            <p class="mt-5 mx-2 mb-1 box box-padding p-5 has-text-light has-background-link-dark has-text-centered">No comments yet</p>
            {{/if}}
        </div>
    </div>
</div>