body {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

.is-transparent {
    background: rgba(0%, 0%, 100%, 0);
}

.logo:hover {
    text-decoration: underline;
    color: black;
}